@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --color-black: #000000;
    --color-white: #FFFF;
    --color-grey: #F4F4F4;
    --color-blue: #273549;
    --color-blue-dark: #1F2937;
    --color-purple: #6943FF;
    --color-purple-light: #CCC1FF;

        /* Font and typography */
    /*.5rem = 8px | 1rem = 16px ...*/
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* Font weight */
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--color-white);
    text-align: center;
}

.hero {
    background: var(--color-purple);
    color: var(--color-white);
    padding: 30px;
}

.main {
    background: var(--color-grey);
    padding: 10px;
}

.section1 {
    background: var(--color-white);
    padding: 5px;
    margin-bottom: 10px;
}

.section2 {
    background: var(--color-white);
    padding: 5px;
    margin-bottom: 10px;
}

.section3 {
    background: var(--color-white);
    padding: 5px;
}
